<a href="https://colab.research.google.com/github/FarotimiOladeji/Python-Class-Practice/blob/main/Python_Classwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Titanic-Dataset - Titanic-Dataset.csv')

# New Section

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Titanic-Dataset - Titanic-Dataset.csv')

In [ ]:
#How many rows and columns are in the dataset?

In [5]:
df.shape

(891, 12)

In [6]:
#What are the column names?
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
#How many passengers survived?
print(df['Survived'].value_counts()[1])

342

In [8]:
#How many males and females are there?
print(df['Sex'].value_counts())

Sex
male      577
female    314
Name: count, dtype: int64

In [9]:
#What is the average age of passengers?
print(df['Age'].mean())

29.69911764705882

In [10]:
#What is the minimum and maximum fare paid?
print(df['Fare'].min())
print(df['Fare'].max())

0.0
512.3292

In [11]:
#How many unique ticket numbers are there?
print(df['Ticket'].nunique())

681

In [12]:
#How many passengers have missing Age values?
print(df['Age'].isnull().sum())

177

In [ ]:
#What is the survival rate for males vs females?
print(df.groupby('Sex')['Survived'].mean()*100)

Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64

In [13]:
#How many people survived in each passenger class?
print(df.groupby('Pclass')['Survived'].sum())

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [14]:
#What is the average age of survivors vs non-survivors?#
print(df.groupby('Survived')['Age'].mean())

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [15]:
#What is the average fare for each passenger class?#
print(df.groupby('Pclass')['Fare'].mean())

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [16]:
#Did more people embark from Cherbourg, Queenstown, or Southampton?#
print(df['Embarked'].value_counts())

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [17]:
#Which port had the highest survival rate? #
print(df.groupby('Embarked')['Survived'].mean()*100)

Embarked
C    55.357143
Q    38.961039
S    33.695652
Name: Survived, dtype: float64

In [23]:
#What is the survival rate for each combination of gender and passenger class?#
print(df.groupby(['Sex','Pclass'])['Survived'].mean()*100)

Sex     Pclass
female  1         96.808511
        2         92.105263
        3         50.000000
male    1         36.885246
        2         15.740741
        3         13.544669
Name: Survived, dtype: float64

In [24]:
#What is the average fare for survivors and non-survivors in each class?#
print(df.groupby(['Pclass','Survived'])['Fare'].mean())

Pclass  Survived
1       0           64.684007
        1           95.608029
2       0           19.412328
        1           22.055700
3       0           13.669364
        1           13.694887
Name: Fare, dtype: float64

In [28]:
#How does survival vary by passenger class and embarkation port? #
print(df.groupby(['Embarked','Pclass'])['Survived'].mean()*100)

Embarked  Pclass
C         1         69.411765
          2         52.941176
          3         37.878788
Q         1         50.000000
          2         66.666667
          3         37.500000
S         1         58.267717
          2         46.341463
          3         18.980170
Name: Survived, dtype: float64

In [35]:
#Who paid the highest fare? Show their name, class, and survival status.#
print(df.groupby(['Name','Pclass','Survived'])['Fare'].max())

Name                                   Pclass  Survived
Abbing, Mr. Anthony                    3       0            7.5500
Abbott, Mr. Rossmore Edward            3       0           20.2500
Abbott, Mrs. Stanton (Rosa Hunt)       3       1           20.2500
Abelson, Mr. Samuel                    2       0           24.0000
Abelson, Mrs. Samuel (Hannah Wizosky)  2       1           24.0000
                                                            ...
de Mulder, Mr. Theodore                3       1            9.5000
de Pelsmaeker, Mr. Alfons              3       0            9.5000
del Carlo, Mr. Sebastiano              2       0           27.7208
van Billiard, Mr. Austin Blyler        3       0           14.5000
van Melkebeke, Mr. Philemon            3       0            9.5000
Name: Fare, Length: 891, dtype: float64

In [37]:
#What is the average age for male vs female survivors in each class? #
print(df.groupby(['Sex','Survived','Pclass'])['Age'].mean())

Sex     Survived  Pclass
female  0         1         25.666667
                  2         36.000000
                  3         23.818182
        1         1         34.939024
                  2         28.080882
                  3         19.329787
male    0         1         44.581967
                  2         33.369048
                  3         27.255814
        1         1         36.248000
                  2         16.022000
                  3         22.274211
Name: Age, dtype: float64